## <center> Part B 1. DATA ANALYTICS with Python </center>
### Perform the following operations using R/Python on the Amazon book review and facebook metrics data sets
##### As per SPPU, Pune Syllabus

1. Create data subsets
* Merge Data
* Sort Data
* Transposing Data
* Melting Data to long format
* Casting data to wide format

<right> Designed by, ![Logo mini](http://mitu.co.in/wp-content/uploads/2015/11/logo11.png)</right>

### Initially we will be using 2 Major Libraries 
* **Pandas** which is **Pan**el **Da**ta â€“ an Econometrics from Multidimensional data.  
Pandas will help us bring more precision on handling the Dataset, having each and every cell in control for performing feasible operation on it

* **Numpy** which is **Num**erical **Py**thon used as Advanced Mathematical Utility Tool.  
Numpy will help in adjunct with Pandas, providing support of random data generation, creating series data and like-wise

In [1]:
import pandas as pd
import numpy as np

dataset = pd.read_csv("dataset_Facebook.csv", delimiter=';')

Here, we have imported Pandas with nick name to it as **pd** and Numpy as **np**  
The `dataset` here is an Object of Pandas and Variable type as Dataframe.  
Notice that Dataset used `dataset_Facebook.csv` is a _Semi-colon_ seperated dataset rather than a _Comma Separated_ values, and for same reason the `delimiter` we have set is **semi-colon**  
Altough you can experiment what happens if you do not give any delimiter and print it.

#### Let us make the 2<sup>nd</sup> Line more clearer to us:

In [2]:
print("TYPE OF dataset VARIABLE IS:", type(dataset))
print("DATA CONTAINED IN dataset IS:\n", dataset.head())

TYPE OF dataset VARIABLE IS: <class 'pandas.core.frame.DataFrame'>
DATA CONTAINED IN dataset IS:
    Page total likes    Type  Category  Post Month  Post Weekday  Post Hour  \
0            139441   Photo         2          12             4          3
1            139441  Status         2          12             3         10
2            139441   Photo         3          12             3          3
3            139441   Photo         2          12             2         10
4            139441   Photo         2          12             2          3

   Paid  Lifetime Post Total Reach  Lifetime Post Total Impressions  \
0   0.0                       2752                             5091
1   0.0                      10460                            19057
2   0.0                       2413                             4373
3   1.0                      50128                            87991
4   0.0                       7244                            13594

   Lifetime Engaged Users  Lifetime Post Consumers  \
0                     178                      109
1                    1457                     1361
2                     177                      113
3                    2211                      790
4                     671                      410

   Lifetime Post Consumptions  \
0                         159
1                        1674
2                         154
3                        1119
4                         580

   Lifetime Post Impressions by people who have liked your Page  \
0                                               3078
1                                              11710
2                                               2812
3                                              61027
4                                               6228

   Lifetime Post reach by people who like your Page  \
0                                              1640
1                                              6112
2                                              1503
3                                             32048
4                                              3200

   Lifetime People who have liked your Page and engaged with your post  \
0                                                119
1                                               1108
2                                                132
3                                               1386
4                                                396

   comment    like  share  Total Interactions
0        4    79.0   17.0                 100
1        5   130.0   29.0                 164
2        0    66.0   14.0                  80
3       58  1572.0  147.0                1777
4       19   325.0   49.0                 393

### Pre - Data Analysis Study
#### I recommend you first check this dataset into a Spreadsheet / Equivalent software  

<font size=3>From this now you understand that this Dataset has many columns to view it in one simple table. Let us try something that tells us more about this dataset. We'll learn this inbuilt attribute and function called as `shape` and `info()`, that'll help us know our dataset.</font>

In [3]:
print("Dataset is represented here in Tuple as (ROWS, COLUMNS)\n", dataset.shape)
print("Dataset's Detailed Info is as Follows:", dataset.info())

Dataset is represented here in Tuple as (ROWS, COLUMNS)
 (500, 19)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 19 columns):
Page total likes                                                       500 non-null int64
Type                                                                   500 non-null object
Category                                                               500 non-null int64
Post Month                                                             500 non-null int64
Post Weekday                                                           500 non-null int64
Post Hour                                                              500 non-null int64
Paid                                                                   499 non-null float64
Lifetime Post Total Reach                                              500 non-null int64
Lifetime Post Total Impressions                                        500 non-null int64
Lifetime Engaged Users                                                 500 non-null int64
Lifetime Post Consumers                                                500 non-null int64
Lifetime Post Consumptions                                             500 non-null int64
Lifetime Post Impressions by people who have liked your Page           500 non-null int64
Lifetime Post reach by people who like your Page                       500 non-null int64
Lifetime People who have liked your Page and engaged with your post    500 non-null int64
comment                                                                500 non-null int64
like                                                                   499 non-null float64
share                                                                  496 non-null float64
Total Interactions                                                     500 non-null int64
dtypes: float64(3), int64(15), object(1)
memory usage: 74.3+ KB
Dataset's Detailed Info is as Follows: None

### #1  Creating Sub-Datasets
#### Remember:  
* In Python the Upper Bound is Always neglected
* Attributes that are Compulsory, should never be left blank
* Appropriate Range must be given wherever applicable

In [4]:
ds1 = dataset.iloc[:, 0:4]  # All Rows and Columns from 0 to 3
print (ds1)
ds2 = dataset.iloc[0:4, :]  # Rows from 0 to 3 and All Columns
print (ds2)
ds3 = dataset.iloc[1:5, 1:7]  # Rows from 1 to 4 and 1 to 6 Columns
print (ds3)
typ = dataset.iloc[:, 1]  # All Rows and Column no. 1
print (typ)

     Page total likes    Type  Category  Post Month
0              139441   Photo         2          12
1              139441  Status         2          12
2              139441   Photo         3          12
3              139441   Photo         2          12
4              139441   Photo         2          12
5              139441  Status         2          12
6              139441   Photo         3          12
7              139441   Photo         3          12
8              139441  Status         2          12
9              139441   Photo         3          12
10             139441  Status         2          12
11             139441   Photo         2          12
12             139441   Photo         2          12
13             139441   Photo         2          12
14             138414   Photo         2          12
15             138414  Status         2          12
16             138414   Photo         3          12
17             138414   Photo         1          12
18             138414  Status         3          12
19             138414   Photo         3          12
20             138414   Photo         2          12
21             138414   Photo         1          12
22             138414    Link         1          12
23             138414   Photo         3          12
24             138414  Status         2          12
25             138458  Status         2          12
26             138458  Status         2          12
27             138458   Photo         3          12
28             138895   Photo         2          12
29             138895   Video         1          12
..                ...     ...       ...         ...
470             91437    Link         1           2
471             91330   Photo         3           2
472             91223   Photo         1           2
473             91116   Photo         3           2
474             91009   Photo         1           2
475             86909   Photo         3           1
476             86909   Photo         1           1
477             86909    Link         1           1
478             86909   Photo         3           1
479             86909   Photo         3           1
480             86909   Photo         2           1
481             86491    Link         1           1
482             86491   Photo         3           1
483             86491   Photo         2           1
484             86491   Photo         3           1
485             86491    Link         1           1
486             85979   Photo         3           1
487             85979   Photo         3           1
488             85979   Photo         3           1
489             85979   Photo         3           1
490             85979   Photo         3           1
491             85979   Photo         3           1
492             85979    Link         1           1
493             85093   Photo         3           1
494             85093   Photo         3           1
495             85093   Photo         3           1
496             81370   Photo         2           1
497             81370   Photo         1           1
498             81370   Photo         3           1
499             81370   Photo         2           1

[500 rows x 4 columns]
   Page total likes    Type  Category  Post Month  Post Weekday  Post Hour  \
0            139441   Photo         2          12             4          3
1            139441  Status         2          12             3         10
2            139441   Photo         3          12             3          3
3            139441   Photo         2          12             2         10

   Paid  Lifetime Post Total Reach  Lifetime Post Total Impressions  \
0   0.0                       2752                             5091
1   0.0                      10460                            19057
2   0.0                       2413                             4373
3   1.0                      50128                            87991

   Lifetime Engaged Users  Lifetime Post Consumers  \
0                     178                      109
1                    1457                     1361
2                     177                      113
3                    2211                      790

   Lifetime Post Consumptions  \
0                         159
1                        1674
2                         154
3                        1119

   Lifetime Post Impressions by people who have liked your Page  \
0                                               3078
1                                              11710
2                                               2812
3                                              61027

   Lifetime Post reach by people who like your Page  \
0                                              1640
1                                              6112
2                                              1503
3                                             32048

   Lifetime People who have liked your Page and engaged with your post  \
0                                                119
1                                               1108
2                                                132
3                                               1386

   comment    like  share  Total Interactions
0        4    79.0   17.0                 100
1        5   130.0   29.0                 164
2        0    66.0   14.0                  80
3       58  1572.0  147.0                1777
     Type  Category  Post Month  Post Weekday  Post Hour  Paid
1  Status         2          12             3         10   0.0
2   Photo         3          12             3          3   0.0
3   Photo         2          12             2         10   1.0
4   Photo         2          12             2          3   0.0
0       Photo
1      Status
2       Photo
3       Photo
4       Photo
5      Status
6       Photo
7       Photo
8      Status
9       Photo
10     Status
11      Photo
12      Photo
13      Photo
14      Photo
15     Status
16      Photo
17      Photo
18     Status
19      Photo
20      Photo
21      Photo
22       Link
23      Photo
24     Status
25     Status
26     Status
27      Photo
28      Photo
29      Video
        ...
470      Link
471     Photo
472     Photo
473     Photo
474     Photo
475     Photo
476     Photo
477      Link
478     Photo
479     Photo
480     Photo
481      Link
482     Photo
483     Photo
484     Photo
485      Link
486     Photo
487     Photo
488     Photo
489     Photo
490     Photo
491     Photo
492      Link
493     Photo
494     Photo
495     Photo
496     Photo
497     Photo
498     Photo
499     Photo
Name: Type, Length: 500, dtype: object

#### The above statements would've been slightly difficult to identify the outputs. The better way is you try it out one at a time.

You saw how at every stage the columns and rows are written to extract and create sub-datasets from major dataset.

ðŸ˜ƒ Congratulations! Now you are ready for next lesson!

### #2 Merge Data

The first line of code below is slightly off-beat to understand, (take a look at it, and return) so let me brief it. In there I'm asking S1 to collect all data from dataset where Status is set to 'Status' (and not 'Posts'). For same I'm asking the help of a Column that I've already created above, that is `typ`

#### What are we learning new?
* pd.concat - Using which we will be concatenating 2 dataframes in different ways
* pd.Series - One of the Datatype besides Dataframe available in Pandas (We are using this just to create Index numbers)

In [6]:
S1 = dataset[typ == 'Status']
print("S1:\n", S1)

ds4 = dataset.iloc[:, [3, 4, 5, 7]]
print("\n DS4:\n", ds4)

StatusDetails = pd.concat([S1, ds4])  # This DF will contain all details of Status and NaN values from Posts
print("This data is not well arranged and has NaN values in it\n", StatusDetails.head(50))

indexSeries = pd.Series(range(1, dataset.__len__()+1))  # Creating a Series of Index numbers
print("These are just Index numbers:\n", indexSeries.head(50))

dataIdx = pd.concat([indexSeries, dataset], axis=1)  # Merging data of Indexes to Dataset
print("The dataset now has Index numbers combined that we just created!\n", dataIdx)

S1:
      Page total likes    Type  Category  Post Month  Post Weekday  Post Hour  \
1              139441  Status         2          12             3         10
5              139441  Status         2          12             1          9
8              139441  Status         2          12             7          3
10             139441  Status         2          12             5         10
15             138414  Status         2          12             3         10
18             138414  Status         3          12             2          3
24             138414  Status         2          12             6         10
25             138458  Status         2          12             6          3
26             138458  Status         2          12             5         11
38             138895  Status         2          12             7          9
40             138895  Status         2          12             6         11
46             138353  Status         1          12             3         11
72             137893  Status         3          11             4         11
80             137177  Status         2          11             7          3
84             137177  Status         3          11             5          2
98             137020  Status         2          10             5          3
107            136736  Status         2          10             1          4
109            136736  Status         2          10             7          3
121            136393  Status         2          10             7          9
138            136013  Status         2          10             5          3
141            136013  Status         3          10             3         10
142            136013  Status         2          10             3          2
148            135713  Status         2          10             7          4
163            135617  Status         2           9             6          4
172            135195  Status         2           9             1         10
175            135195  Status         2           9             6         10
180            134879  Status         2           9             4          4
202            132817  Status         2           8             3          2
217            131956  Status         2           8             2         12
222            131808  Status         2           8             7          4
223            131808  Status         2           8             6         10
225            131808  Status         2           7             5         14
232            131630  Status         2           7             2          6
235            131300  Status         2           7             7         10
242            130791  Status         2           7             4          6
253            129600  Status         2           7             5         12
267            128032  Status         2           7             5         10
275            126424  Status         2           7             3         13
282            126345  Status         2           6             7         11
285            126141  Status         2           6             6          4
334            119198  Status         2           5             1          2
352            116435  Status         1           5             4          3
362            116091  Status         2           5             5          7
371            113028  Status         2           4             6          3
416            104070  Status         1           3             3         15

     Paid  Lifetime Post Total Reach  Lifetime Post Total Impressions  \
1     0.0                      10460                            19057
5     0.0                      10472                            20849
8     0.0                      11844                            22538
10    0.0                      21744                            42334
15    0.0                      10060                            19680
18    0.0                       3930                             7509
24    0.0                       8488                            15294
25    0.0                       8284                            15104
26    0.0                      19552                            34143
38    0.0                      17576                            33058
40    0.0                      13280                            24198
46    0.0                      16576                            30612
72    0.0                       9056                            16362
80    0.0                       8728                            17827
84    0.0                       6692                            13092
98    1.0                      12468                            24917
107   0.0                       9504                            19556
109   0.0                      13872                            27468
121   0.0                      15816                            30514
138   0.0                       8896                            17202
141   0.0                      13152                            25666
142   1.0                      31136                            59964
148   0.0                      10744                            20691
163   0.0                      11096                            21080
172   0.0                      21256                            41906
175   1.0                      13216                            24738
180   1.0                       9124                            17776
202   1.0                       9236                            16054
217   0.0                      14424                            26000
222   0.0                       8260                            14305
223   1.0                      20168                            35904
225   0.0                      15296                            25269
232   1.0                      10824                            20573
235   0.0                      10956                            19279
242   0.0                      17360                            33613
253   1.0                      15576                            27513
267   0.0                      10188                            16978
275   0.0                      18320                            31448
282   0.0                      12044                            20327
285   0.0                       8628                            14847
334   0.0                      10152                            17099
352   1.0                      23832                            42313
362   0.0                       9232                            16811
371   1.0                      17912                            34774
416   0.0                       9120                            14759

     Lifetime Engaged Users  Lifetime Post Consumers  \
1                      1457                     1361
5                      1191                     1073
8                      1530                     1407
10                     4258                     4100
15                     1264                     1209
18                      130                       86
24                     1341                     1270
25                     1521                     1462
26                     2806                     2531
38                     5352                     5202
40                     2055                     1912
46                     3572                     3464
72                     1006                      847
80                     2295                     2235
84                      199                      108
98                     2143                     1966
107                    1132                     1032
109                    2664                     2570
121                    2733                     2654
138                    1480                     1426
141                    2543                     2438
142                    6164                     5934
148                    1967                     1877
163                    1843                     1724
172                    4840                     4754
175                    2675                     2584
180                    1476                     1397
202                    1151                     1130
217                     304                      286
222                     997                      953
223                    3370                     3244
225                    2827                     2781
232                     135                      126
235                     128                      119
242                    2573                     2448
253                    2417                     2327
267                    1473                     1441
275                    3742                     3682
282                    2240                     2193
285                     870                      843
334                    1636                     1599
352                    1701                     1570
362                     908                      861
371                    2750                     2567
416                     951                      937

     Lifetime Post Consumptions  \
1                          1674
5                          1389
8                          1692
10                         4540
15                         1425
18                          112
24                         1489
25                         1711
26                         3420
38                         6547
40                         2720
46                         4802
72                         1153
80                         2828
84                          141
98                         2576
107                        1512
109                        3395
121                        3289
138                        1932
141                        3179
142                        9237
148                        2201
163                        2106
172                        5906
175                        2969
180                        1797
202                        1560
217                         383
222                        1211
223                        5106
225                        3627
232                         153
235                         130
242                        6017
253                        3098
267                        2136
275                        7854
282                        3599
285                        1692
334                        2755
352                        2838
362                        1967
371                        6591
416                        1290

     Lifetime Post Impressions by people who have liked your Page  \
1                                                11710
5                                                16034
8                                                15220
10                                               37849
15                                               17272
18                                                5009
24                                                9684
25                                               10266
26                                               17748
38                                               23135
40                                               17627
46                                               24363
72                                                9562
80                                               15418
84                                                7549
98                                               15850
107                                              16018
109                                              20198
121                                              23584
138                                              13838
141                                              20547
142                                              35977
148                                              17502
163                                              16095
172                                              35455
175                                              19599
180                                              13887
202                                              14014
217                                              25539
222                                              12905
223                                              26881
225                                              22103
232                                              20030
235                                              18838
242                                              23338
253                                              19078
267                                              14450
275                                              25584
282                                              17717
285                                              11970
334                                              15382
352                                              37816
362                                              12996
371                                              21009
416                                              13246

     Lifetime Post reach by people who like your Page  \
1                                                6112
5                                                7852
8                                                7912
10                                              18952
15                                               8548
18                                               2410
24                                               5244
25                                               5372
26                                               9824
38                                              11792
40                                               9344
46                                              12888
72                                               5180
80                                               7344
84                                               3336
98                                               7636
107                                              7616
109                                             10432
121                                             11912
138                                              7020
141                                             10280
142                                             18048
148                                              8964
163                                              8120
172                                             17592
175                                             10232
180                                              7092
202                                              7880
217                                             14056
222                                              7360
223                                             15056
225                                             13296
232                                             10384
235                                             10564
242                                             11800
253                                             10840
267                                              8536
275                                             14920
282                                             10400
285                                              6796
334                                              8980
352                                             21352
362                                              7200
371                                             11408
416                                              8004

     Lifetime People who have liked your Page and engaged with your post  \
1                                                 1108
5                                                 1016
8                                                 1250
10                                                3798
15                                                1162
18                                                 101
24                                                 995
25                                                1200
26                                                1779
38                                                4104
40                                                1716
46                                                3014
72                                                 740
80                                                2099
84                                                 156
98                                                1661
107                                                981
109                                               2252
121                                               2361
138                                               1292
141                                               2278
142                                               4376
148                                               1834
163                                               1604
172                                               4318
175                                               2342
180                                               1331
202                                               1075
217                                                291
222                                                956
223                                               2806
225                                               2602
232                                                126
235                                                123
242                                               1905
253                                               1839
267                                               1395
275                                               3300
282                                               2119
285                                                774
334                                               1613
352                                               1578
362                                                843
371                                               2256
416                                                924

     comment   like  share  Total Interactions
1          5  130.0   29.0                 164
5          1  152.0   33.0                 186
8          0  161.0   31.0                 192
10         0  233.0   19.0                 252
15         4   86.0   18.0                 108
18         4   54.0   17.0                  75
24         3   99.0   19.0                 121
25         0   88.0   18.0                 106
26        10  412.0   72.0                 494
38        11  227.0   31.0                 269
40         7  216.0   39.0                 262
46         4  174.0   36.0                 214
72         3  226.0   44.0                 273
80         2   86.0   13.0                 101
84         2   99.0   16.0                 117
98         7  310.0   61.0                 378
107       17  193.0   28.0                 238
109        4  217.0   50.0                 271
121        6  186.0   40.0                 232
138        0  129.0   25.0                 154
141        2  227.0   36.0                 265
142       60  859.0   90.0                1009
148        3  148.0   28.0                 179
163        4  243.0   41.0                 288
172       38  163.0   27.0                 228
175        2  165.0   22.0                 189
180       20  150.0   29.0                 199
202        2   53.0   15.0                  70
217       41   15.0    1.0                  57
222        1   74.0   11.0                  86
223       18  332.0   54.0                 404
225        9   95.0   17.0                 121
232        6   14.0    1.0                  21
235        3   13.0    1.0                  17
242        9  484.0   79.0                 572

ðŸ˜… The output is much verbose, it's always better to use an IDE for visualisations of such data
However, the outputs are appropriate as we reqiuired.

### #3 Sort Data
Time to sort the available data. Sorting is again very simple. You don't have to worry about any sorting methods, you just need to call the sorting upon parameters you wish. For this we'll create a simple dataset where dataset is simple to understand in context of Dataset.

In [9]:
unsortedDF = pd.DataFrame(np.random.randn(10, 2), index=[1, 4, 6, 2, 3, 5, 9, 8, 0, 7], columns=['col2', 'col1'])
print("Dataset created:", unsortedDF)

sortedAscDF = unsortedDF.sort_index()  # Ascending Arrangement by default
print("Simple Sorting: Default Ascending\n", sortedAscDF)

sortedDecDF = unsortedDF.sort_index(ascending=False)  # Descending by default
print("Simple Sorting: Descending\n", sortedDecDF)

sortedColDF = unsortedDF.sort_index(axis=1)  # Column Sortprint | Axis 1 is Column and 0 is row
print("Simple Sorting: Column wise\n", sortedColDF)

Dataset created:        col2      col1
1 -1.617129 -0.634916
4  0.390151  1.822808
6 -0.461518 -0.939711
2  0.053447 -2.211013
3 -0.587890 -0.668350
5 -0.341912 -0.258671
9 -0.406709 -0.791790
8 -0.081216  0.701410
0 -0.106304 -2.033681
7 -1.729511 -0.028630
Simple Sorting: Default Ascending
        col2      col1
0 -0.106304 -2.033681
1 -1.617129 -0.634916
2  0.053447 -2.211013
3 -0.587890 -0.668350
4  0.390151  1.822808
5 -0.341912 -0.258671
6 -0.461518 -0.939711
7 -1.729511 -0.028630
8 -0.081216  0.701410
9 -0.406709 -0.791790
Simple Sorting: Descending
        col2      col1
9 -0.406709 -0.791790
8 -0.081216  0.701410
7 -1.729511 -0.028630
6 -0.461518 -0.939711
5 -0.341912 -0.258671
4  0.390151  1.822808
3 -0.587890 -0.668350
2  0.053447 -2.211013
1 -1.617129 -0.634916
0 -0.106304 -2.033681
Simple Sorting: Column wise
        col1      col2
1 -0.634916 -1.617129
4  1.822808  0.390151
6 -0.939711 -0.461518
2 -2.211013  0.053447
3 -0.668350 -0.587890
5 -0.258671 -0.341912
9 -0.791790 -0.406709
8  0.701410 -0.081216
0 -2.033681 -0.106304
7 -0.028630 -1.729511

ðŸ˜ƒ Well Done!
Now that you understand that Sorting and Data is not a big deal to handle, here's a bonus sorting method. If you are still struggling with above, you can improve with bit of practice. If you are ready for bonus and scroll and learn it Junior Data Scientist!

#### Bonus Method of Sorting!
This will enable you to sort on multiple values. The trick is simple that you need to pass on List. Let's see how:

In [11]:
# Selective Sort
sortedByValue = unsortedDF.sort_values(by=['col1', 'col2'])
print(sortedByValue)

       col2      col1
2  0.053447 -2.211013
0 -0.106304 -2.033681
6 -0.461518 -0.939711
9 -0.406709 -0.791790
3 -0.587890 -0.668350
1 -1.617129 -0.634916
5 -0.341912 -0.258671
7 -1.729511 -0.028630
8 -0.081216  0.701410
4  0.390151  1.822808

Alright Jr. Data Scientist! Good work!  
Time to Level UP!

### #4 Transposing Data | Rows to Cols and Cols to Rows
As the name goes, the objective is to
* To convert Rows to Columns
* To convert Columns to Rows
* Data to be consistent

All you need to do is call an inbuilt attribute called **T**
Let's see how to do that!

In [14]:
TSportedByValue = sortedByValue.T
print("Trying this on Sorted by Value Dataset:\n", TSportedByValue)

TunsortedDF = unsortedDF.T
print("\n Trying this on Un-Sorted Dataset:\n", TunsortedDF)

Trying this on Sorted by Value Dataset:
              2         0         6         9        3         1         5  \
col2  0.053447 -0.106304 -0.461518 -0.406709 -0.58789 -1.617129 -0.341912
col1 -2.211013 -2.033681 -0.939711 -0.791790 -0.66835 -0.634916 -0.258671

             7         8         4
col2 -1.729511 -0.081216  0.390151
col1 -0.028630  0.701410  1.822808

 Trying this on Un-Sorted Dataset:
              1         4         6         2        3         5         9  \
col2 -1.617129  0.390151 -0.461518  0.053447 -0.58789 -0.341912 -0.406709
col1 -0.634916  1.822808 -0.939711 -2.211013 -0.66835 -0.258671 -0.791790

             8         0         7
col2 -0.081216 -0.106304 -1.729511
col1  0.701410 -2.033681 -0.028630

ðŸ˜Ž Congratulations! You've made it to the end now!

Let us proceed to the End game.ðŸ› 

### #5 Reshaping Data
The images below will provide a better insight, on what they really mean!

* **Meting Data to Long format**  
![Melt](http://www.datasciencemadesimple.com/wp-content/uploads/2017/11/Reshape-wide-to-long-in-pandas-python-with-melt-function-0.png)  


* **Casting data to wide format**
![Wide](http://www.datasciencemadesimple.com/wp-content/uploads/2017/11/Reshape-long-to-wide-in-pandas-python-with-pivot-function-0.png)

__[Image Source: datasciencemadesimple.com]__

Dataset that we will be using is:

`In    0     Type  Category
0    1     Photo         2
1    2    Status         2
2    3     Photo         3
3    4     Photo         2
4    5     Photo         2
5    6    Status         2
6    7     Photo         3
7    8     Photo         3
8    9    Status         2
9   10     Photo         3`

In [16]:
newDataSet = dataIdx.iloc[0:10, [0, 2, 3]]
print(newDataSet,"\n")

meltDS = pd.melt(newDataSet, id_vars=[0], var_name='Attribute', value_name='Values')
print("\n MELTED TO LONG FORMAT \n", meltDS)

wideDS = meltDS.pivot(index=0, columns='Attribute', values='Values')
print("\n CASTING TO WIDE FORMAT \n", wideDS)

    0    Type  Category
0   1   Photo         2
1   2  Status         2
2   3   Photo         3
3   4   Photo         2
4   5   Photo         2
5   6  Status         2
6   7   Photo         3
7   8   Photo         3
8   9  Status         2
9  10   Photo         3


 MELTED TO LONG FORMAT
      0 Attribute  Values
0    1      Type   Photo
1    2      Type  Status
2    3      Type   Photo
3    4      Type   Photo
4    5      Type   Photo
5    6      Type  Status
6    7      Type   Photo
7    8      Type   Photo
8    9      Type  Status
9   10      Type   Photo
10   1  Category       2
11   2  Category       2
12   3  Category       3
13   4  Category       2
14   5  Category       2
15   6  Category       2
16   7  Category       3
17   8  Category       3
18   9  Category       2
19  10  Category       3

 CASTING TO WIDE FORMAT
 Attribute Category    Type
0
1                2   Photo
2                2  Status
3                3   Photo
4                2   Photo
5                2   Photo
6                2  Status
7                3   Photo
8                3   Photo
9                2  Status
10               3   Photo

### WELL DONE! ðŸœ²

## Few tips for completing this Tutorial!
### ðŸž¸ Remember the Basics
### ðŸž¸ Apply the right Attributes and Functions
### ðŸž¸ Make use of IDE
### ðŸž¸ Better visualisations! 

### Remember you learnt it first from
![logo](http://mitu.co.in/wp-content/uploads/2015/11/logo11.png)
#### For Doubts / Suggestions / Feedback / More Explanation you may **contact** us at: contact@mitu.co.in